:root {
    --main-color: #880194;
    --light-color: #f2f2f2;
    --dark-color: #333;
    --button-bg-color: #880194;
    --button-hover-bg-color: #660173;
    --text-color: #0a0a0a;
    --border-color: #ccc;
  }
  
  /* General Body Styling */
  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    margin: 0;
    padding: 0;
  }